body {
    min-height: 100vh;
    background-color: rgb(49, 133, 242);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    overflow: hidden;
    background-color: #fff;
    padding: 30px;
    width: 450px;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 0px;
    color: #444444e2;
}

.login-form p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #525252;
    margin-bottom: 25px;
    font-size: 16px;
}

.login-form img {
    display: block;
    margin: 0 auto 5px auto;
    width: 60px;
    height: 60px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
  width: calc(100% - 20px); /* Account for padding */
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}