.signup-page {
    min-height: 100vh;
    background-color: rgb(49, 133, 242);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    overflow: hidden;
    background-color: #fff;
    padding: 30px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #444444e2;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input[type="email"]:focus,
.input-group input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 123, 255, 0.25);
}

.signup-form button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.signup-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.signup-page .login-small {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: #555;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}